<% include partials/header %>
    <title>Shots</title>
</head>
<body>
    <header>
        <nav>
            <div></div>
            <div>
                <h1 class="logo">Shots</h1>
                <p class="motto">The world is waiting to see your shots...</p>
            </div>
            <div class="upload">
                <a href="/upload" >Upload a shot</a>
            </div>
        </nav>
    </header>

    <div class="err">
        <h1>Uh oh! Something went wrong</h1>
        <h5><%= error %></h5>
    </div>

</body>
</html>