<% include partials/header %>
    <title>Shots</title>
</head>
<body>
    <h1>Hello</h1>
    <% shots.forEach((image) => { %>
        <div>
            <img src=<%= image %>>
            <% var downloadLink = `/download?img=${basename}` %>
            <a href=<%= downloadLink %>>Download</a>
        </div>
        
    <%}) %>
</body>
</html>