<% include partials/header %>
    <title>Shots</title>
</head>
<body>
    <header>
        <nav>
            <div></div>
            <div>
                <h1 class="logo">Shots</h1>
                <p class="motto">The world is waiting to see your shots...</p>
            </div>
            <div class="upload">
                <a href="/upload" >Upload a shot</a>
            </div>
        </nav>
    </header>
    <div class="container" >
        <% shots.forEach((image, i) => { %>
            <div class="shot" > 
                <img src=<%= image %>>
                <% var downloadLink = `/download?img=${basename}` %>
                <p><%= captions[i] %></p>
                <a href=<%= downloadLink %> class="downloadBtn" >Download</a>
            </div>
            
        <%}) %>
    </div>
</body>
</html>