<% include partials/header %>
    <title>Shots | Upload a shot</title>
</head>

<body>
    <h1>Upload your shot</h1>
    <form method='post' enctype="multipart/form-data">
        <input type='file' name='fileUpload'>
        <input type='submit'>
    </form>
</body>
</html>